@model IEnumerable<WebBanHang.Models.Category>

@{
    ViewData["Title"] = "Categories";
}
<div class="Admin-layout">
    <ul class="Admin-grow-1">
        <li class="Admin-home">
            <a class="Admin text-light" asp-area="Views" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="Admin">
            <div class="Admin text-light" asp-area="" asp-controller="" asp-action="">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </li>
        <li class="Admin-Product">
            <a class="Admin text-light" asp-area="Admin" asp-controller="Product" asp-action="Index">quản lí sản phẩm</a>
        </li>
        <li class="Admin">

        </li>
        <li class="Admin-Category">
            <a class="Admin text-light" asp-area="Admin" asp-controller="Categories" asp-action="Index">quản lí danh mục con</a>
        </li>
        <li class="Admin-Menu">
            <a class="Admin text-light" asp-area="Admin" asp-controller="Menu" asp-action="Index">quản lí danh mục cha</a>
        </li>
        <li class="Admin-Menu">
            <a class="Admin text-light" asp-area="Admin" asp-controller="ad" asp-action="account">Quản lí vai trò trang web</a>
        </li>
        <li class="Admin-Menu">
            <a class="Admin text-light" asp-area="Admin" asp-controller="Order" asp-action="Orderlist">Quản lí đơn hàng</a>
        </li>

    </ul>
</div>

<button>
    <a class="btn btn-dark text-light" asp-area="admin" asp-controller="ad" asp-action="Index">Home</a>
</button>
<h2>Categories</h2>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Add">Add Category</a>
    <a asp-action="Add">Thêm thể loại</a>
</p>
<button>
    <a class="btn btn-dark text-light" asp-area="admin" asp-controller="ad" asp-action="Index">Home</a>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)

            </th>
            <th>
                @Html.DisplayNameFor(p => p.menu.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.menu.Name)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<button>
    <a class="btn btn-dark text-light" asp-area="admin" asp-controller="ad" asp-action="Index">Home</a>
</button>
